.parralaxImg{
    /* background-image: url(''); */
    background-color: blueviolet;
}

.quiz {
    
}
.code-box {
    border: 1px solid black;
    background-color: #eee;
    width: 400px;
    padding: 10px;
    overflow:auto;
}
.code-box code {
    font-size: 0.9em;
}